<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
        <init-param>
            <param-name>admin-username</param-name>
            <param-value>sa</param-value>
        </init-param>
        <init-param>
            <param-name>admin-password</param-name>
            <param-value>12345</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CreateProductSerrvlet</servlet-name>
        <servlet-class>Controller.CreateProductSerrvlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassServlet</servlet-name>
        <servlet-class>Controller.ForgotPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServletController</servlet-name>
        <servlet-class>Controller.HomeServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServletController</servlet-name>
        <servlet-class>Controller.ProductServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServletController</servlet-name>
        <servlet-class>Controller.ShopServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServletController</servlet-name>
        <servlet-class>Controller.CartServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCart</servlet-name>
        <servlet-class>Controller.AddProductToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServletController</servlet-name>
        <servlet-class>Controller.CategoryServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerStoreServlet</servlet-name>
        <servlet-class>Controller.ManagerStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopManagerProduct</servlet-name>
        <servlet-class>Controller.ShopManagerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupSeller</servlet-name>
        <servlet-class>Controller.SignupSeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountMoneyController</servlet-name>
        <servlet-class>Controller.AccountMoneyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountFileController</servlet-name>
        <servlet-class>Controller.AccountFileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountHistoryController</servlet-name>
        <servlet-class>Controller.AccountHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountPasswordController</servlet-name>
        <servlet-class>Controller.AccountPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountFileUpdate</servlet-name>
        <servlet-class>Controller.AccountFileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRequest</servlet-name>
        <servlet-class>Controller.ManagerRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforUserController</servlet-name>
        <servlet-class>Controller.InforUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductSerrvlet</servlet-name>
        <url-pattern>/CreateProductSerrvlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassServlet</servlet-name>
        <url-pattern>/ForgotPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServletController</servlet-name>
        <url-pattern>/HomeServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServletController</servlet-name>
        <url-pattern>/ProductServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServletController</servlet-name>
        <url-pattern>/ShopServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServletController</servlet-name>
        <url-pattern>/CartServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCart</servlet-name>
        <url-pattern>/AddProductToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServletController</servlet-name>
        <url-pattern>/CategoryServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerStoreServlet</servlet-name>
        <url-pattern>/ManagerStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopManagerProduct</servlet-name>
        <url-pattern>/ShopManagerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupSeller</servlet-name>
        <url-pattern>/SignupSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountMoneyController</servlet-name>
        <url-pattern>/AccountMoneyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountFileController</servlet-name>
        <url-pattern>/AccountFileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountHistoryController</servlet-name>
        <url-pattern>/AccountHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountPasswordController</servlet-name>
        <url-pattern>/AccountPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountFileUpdate</servlet-name>
        <url-pattern>/AccountFileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRequest</servlet-name>
        <url-pattern>/ManagerRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforUserController</servlet-name>
        <url-pattern>/InforUserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
