.header {
    height: 100px;
    background-image: linear-gradient(0, rgb(161, 202, 46), rgb(57, 243, 11));
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0;
    list-style: none ;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 4px;
    
    
}
.header__navbar-item-link:hover,
.header__navbar-item:hover {
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
}

.bell-icon {
    color: #fff;
}


/* header notification */
.header__notify {
    display: none;
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color : var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: 90% 0 ;
    will-change: opacity, transfrom;
    animation: headerNotify ease-in 0.2s;
}

.header__notify::before {
    content: "";
    border-style: solid ;
    border-width: 20px 27px ;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 110px;
    height: 20px;
}

@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-item-has-notify:hover .header__notify {
    display: block;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    font-weight: 400;
    font-size: 1.4rem ;
    margin-left:12px;
    color: #999;
    line-height: 40px ;
}

.header__notify-list {
    list-style: none;

}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(208, 241, 175, 0.7);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-infor {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 16px;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    margin-top: 4px;
    line-height: 1.6rem;
}

.header__notify-footer {
    text-align: center;
    color: #000;
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: #000;
    padding: 1.4rem;
    margin: auto;
    font-size: 8px 48px;
    font-weight: 400;
}

/* header with search */
.header-with-search {
    height: 58px;
    display: flex;
    align-items: center;
    
}

.header__search {
    margin-left: 15%;
    border-radius: 4px;
    height: 40px;
    flex: 0.8;
    border:2px ;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 0 16px;
    font-size: 1.4rem;
    border-radius: 4px;
}

.header__search-btn {
    background-color: rgb(57, 243, 11);
    border: none;
    height: 33px;
    border-radius: 3px;
    margin-right: 3px;
    width: 60px;
}

.header__search-btn:hover {
    background-color: rgb(114, 231, 85);
    cursor: pointer;
}

.header__search-btn-icon {
    margin-top: 3px;
    color: var(--white-color);
    font-size: 1.4rem;
}


.header__cart {
    width: 150px;
    text-align: center;
    
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-list {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #fff;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem  rgba(0,0,0,0.3);
    animation : headerNotify ease-in 0.2s;
    transform-origin: 90% 0 ;
    cursor: default;
}

.header__cart-number {
    position: absolute;
    top: -6px;
    right: -0;
    padding: 1px 3px;
    font-size: 1.6rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid rgb(59, 180, 21);
    color: rgb(255, 0, 0);
    background-color: var(--white-color);
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list--no-cart{
    padding: 28px 0;
    
}

.header__cart-list--no-cart-img{
    width: 54%;
    display: none;
}

.header__cart-list--no-cart::before {
content: "";
    border-style: solid ;
    border-width: 20px 27px ;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -4px;
    top: -25px;
    cursor: default;
}

.header__cart-list--no-cart-message{
    display: none;
    padding: 20px 0 0 0 ;
    font-size: 1.4rem;
    color:var(--text-color);
}

.header__cart-list--no-cart .header__cart-list--no-cart-message ,
.header__cart-list--no-cart .header__cart-list--no-cart-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.6rem;
    margin-top: 4px;
}

.header__cart-heading {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    margin: 8px 0 8px 12px;
}

/* cart item */



.header__cart-list-item {

}

.header__cart-list-item::before {
    content: "";
        border-style: solid ;
        border-width: 20px 27px ;
        border-color: transparent transparent var(--white-color) transparent;
        position: absolute;
        right: -4px;
        top: -25px;
        cursor: default;
    }

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-infor {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: #eb2a08;
}

.header__cart-item-ope {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;

}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    margin-top: 10px;
    
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__cart-item-delete {
    color: #757575;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.header__cart-item-delete:hover {
    color: #eb2a08;
}

.btn-order{
    background-color: #25da1f;
    padding: 8px 12px;
    float: right;
    margin-bottom:5px ;
    margin-right: 5px;
    color: #fff;
}

.btn-order:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* navbar */ 
.category{
    width: 100%;
}

.category__list {
    background-color: #83d481;
    box-shadow: 0 1px 3.125rem  rgba(0,0,0,0.3);
    
}

.nav {

}
.category__list-item-link--child.nav-link,
.dropdown-toggle.nav-link.category__list-item--link{
    color: var(--white-color);
}

.category__list-item-link--child.nav-link:hover{
    color: #25da1f;
}

.category__list-item--header,
.category__list-item {
    font-size: 1.6rem;
    /* background-color: #D3D3D3; */
    padding: 5px 24px;
}

.dropdown-menu.category__list-child {
    display: none;
    box-shadow: 0 1px 3.125rem  rgba(0,0,0,0.3);
}

.category__list-item:hover .dropdown-menu.category__list-child {
    display:block;
}

.dropdown-item.category__list-item--child {
    background-color: #47c243;
    font-weight: 400;
}

.dropdown-menu.category__list-child {
    margin: 5px;
    padding: 0;
    border: 0;
}

.dropdown-item.category__list-item--child {
    min-width: 165px;
    font-size: 1.4rem;
    color: #000;
    border-bottom: 1px solid #25da1f;
    margin: 0px;
}

/* container */
.container-fluid{
    background-color: #F5F5F5;
}

.product {
    background-color: var(--white-color);
    margin: 15px 7.5px 0 ;
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.product__header {
    padding: 10px;
    font-size: 1.6rem;
}

.product__header-icon{
    font-size: 1.2rem;
    font-weight: 300;
    margin-right: 3px;
}

.dropdown-menu.product__list-child {
    display: none;
    box-shadow: 0 1px 3.125rem  rgba(0,0,0,0.3);
}

.product__list-item:hover .dropdown-menu.product__list-child {
    display:block;
}

.product__list-item.nav-item{
    background-color: #25da1f;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
}

.product__list-item--link.nav-link{
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 400;
}






/* footer */
.message__icon{
    padding-top: 10px;
    padding-bottom: auto;
}

.message__header{
    font-weight: 300;
    margin-bottom: 20px;
}


.first-footer.col-sm-3{
    padding-left: 30px;
}

.last-footer.col-sm-3{
    padding-right: 30px;
}

.footer__list{

    list-style: none;
    padding-left: 0;
}
.footer__list-item{

}
.footer-section.col-sm-2,
.footer-section.col-sm-3{
    margin-top: 30px;
}

.footer-section{
    text-align: center;
}

.footer-main {
    border-top: 3px solid #25da1f;
}

.footer__list-item--link.nav-link{
    color: black;
    font-size: 1.3rem;
}

.footer__list-item--icon{
    color: #25da1f;
    font-size: 1.6rem;
    margin-right: 3px;
}



