.product__information {
    background-color: #fff;
    margin-top: 15px;
    margin-right: 15px;
}

.product__list-item.nav-item{
    /* margin: 0; */
    padding: 0;
    width: 250px;
}

.col-sm-4.product__cart {
    display: flex;
    align-items: center;
}




.product__total,
.product__quantity,
.product__price,
.product__style {
    padding-top: 6px;
    font-size: 1.7rem;
}

.product__delete {
    font-size: 1.7rem;
    display: flex;
}

.product__delete a {
    background-color: rgb(98, 231, 9);
    margin-top: 6px;
    margin-right: 5px;
}

.row.product__thead {
    border-bottom: 1px solid #ccc;
}

.row.product__row {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.product__list-item.nav-item {
    padding: 10px;
    color: var(--white-color);
}

.nav-link.product__list-item--link{
    font-size: 1.6rem;
}
