create database DoGoNoiThat
drop database DoGoNoiThat
create table [user](
userId int identity(1,1) primary key,
username nvarchar(25),
[password] nvarchar(25),
isAdmin bit,
isCustomer bit,
isSeller bit,
userImg nvarchar(255),
userBalance int,
)
delete [user]  where userId = 2
insert into [User] values('admin','admin',1,1,1,null,0)
create table request(
requestId int foreign key references [user](userId),
request nvarchar(255),
response nvarchar(255),
shopId int foreign key references shop(shopId),
isRequestSell bit,
isRequestBuy bit,
isRequestNew bit,
requestState bit, 
)

create table customer(
customerId int foreign key references [user](userId),
customerName nvarchar(50),
customerAddress nvarchar(255),
customerAddressShip nvarchar(255),
customerEmail nvarchar(255),
customerPhone nvarchar(15),
customerDate nvarchar(255),
customerGender bit,
customerDOB nvarchar(255),
primary key (customerId)
)

create table seller(
sellerId int foreign key references [user](userId),
sellerName nvarchar(50),
sellerAddress nvarchar(255),
sellerEmail nvarchar(255),
sellerPhone nvarchar(15),
sellerDate nvarchar(255),
sellerGender bit,
sellerDOB nvarchar(255), 
primary key (sellerId)
)


create table shop (
shopId int foreign key references seller(sellerId) ,
shopName nvarchar(255),
shopAddress nvarchar(255),
shopProductQuantity int,
shopProductSold int,
shopPhone nvarchar(15),
shopEmail nvarchar(255),
shopDate nvarchar(25),
shopRevenue int,
shopProfit int,
shopActive bit,
primary key(shopId)
)

create table category(
categoryId int primary key,
categoryName nvarchar(255)
)
delete category
insert into category values (1,N'Nội thất phòng ngủ')
insert into category values (2,N'Nội thất phòng học')
insert into category values (3,N'Nội thất phòng khách')

create table product(
productId int identity(1,1) primary key,
productName nvarchar(255),
productDescript nvarchar(255),
productImg nvarchar(255),
shopId int foreign key references shop(shopId),
productQuantity int,
productQuantitySold int,
productOldPrice int,
productNewPrice int,
productBrand nvarchar(25),
productOrigin nvarchar(25),
productType int foreign key references category(categoryId),	
)

create table [order](
orderId int identity(1,1) primary key,
customerId int foreign key references [user](userId),
billId int foreign key references bill(billId),
productId int , 
productPrice int,
productQuantity int,
productTotal int,
sold bit
)
create table bill(
billId int identity(1,1) primary key,
customerId int foreign key references [user](userId),
billPay int foreign key references payment(payId) ,
billTotal int,
billDateOrder date,
billDateShip date
)

create table payment(
payId int identity(1,1) primary key,
payType nvarchar(255), 
)

drop table payment
update payment set payType = N'Thanh toán khi nhận hàng' where payId = 1
insert into payment values(N'Thanh toán bằng ví điện tử')
insert into payment values(N'Thanh toán khi nhận hàng')

insert into product values (N'Tên của sản phẩm',
N'Mô tả sản phẩm',
'link sản phẩm',
shopId,10,Giá cũ,giá mới,'wood',N'Châu âu châu á',type là số 1 2 3 4 5 )

insert into Product values (N'GIƯỜNG NGỦ 4 CHÂN PHONG CÁCH BẮC ÂU',
N'Giường đẹp chất lượng cao giá cả hợp lý\n thoái mái êm',
'https://noithatnhadep.pro/images/stories/virtuemart/product/resized/giuong-ngu-4-chan-phong-cach-bac-au--(1)_400x400.jpg',
2,12,3500000,3150000,'Whoo',N'Hàn Quốc',1)

select * from product where  productName =N'GIƯỜNG NGỦ 4 CHÂN PHONG CÁCH BẮC ÂU' and 
productDescript=N'Giường đẹp chất lượng cao giá cả hợp lý  thoái mái êm' and 
productImg ='https://noithatnhadep.pro/images/stories/virtuemart/product/resized/giuong-ngu-4-chan-phong-cach-bac-au--(1)_400x400.jpg' and 
shopId =1 and 
 productBrand=N'wood' and 
 productOrigin=N'châu âu' and 
  productType=1



Giường đẹp chất lượng cao giá cả hợp lý  thoái mái êm


insert into Product values (N'GHẾ GIÁM ĐỐC ĐƠN GIẢN HIỆN ĐẠI BJ-715',
N'Ghế đẹp chất lượng cao giá cả hợp lý',
'https://noithatnhadep.pro/images/stories/virtuemart/product/resized/ghe-giam-doc-don-gian-hien-dai-bj-715-(1)_400x400.jpg',
3,12,2700000,2500000,'Whoo',N'Hàn Quốc',5)
























update product set productQuantitySold = (select sum(a.productQuantity) from [order] as a where a.productId in (select a.productId from product as a where a.shopId = 1))

















 select * from [user]
select * from customer 
select * from seller
select * from shop
select * from product
select * from bill
select * from [order]
select * from payment
select * from request
delete [order] where productId=1 and sold=0
update [order] set sold = 0
delete [order]
update shop set shopProductSold = (select sum(a.productQuantity) from [order] as a where a.productId in (select a.productId from product as a where a.shopId = 1)) where shopId = 

select sum(a.productQuantity) from [order] as a where a.productId in (select a.productId from product as a where a.shopId = 1)

update product set productQuantitySold = (select sum(a.productQuantity) from [order] as a where a.productId in (select a.productId from product as a where a.shopId = 1))

select a.productQuantity from [order] as a where a.productId = 1
update product set productQuantitySold = (select sum(a.productQuantity) from [order] as a where a.productId = 1) where productId=1
update request set response = N'Đã chấp nhận'



insert into seller values (1,N'vương quốc tuấn',N'Hà nội','tuan@gmail.com','0000000000','03/16/2022',1,'27/09/2001')
insert into customer values(1,N'vương quốc tuấn',N'Hà nội',null,'tuan@gmail.com','0000000000','03/16/2022',1,'27/09/2001')
insert into shop  values(1,'AdminShop',null,0,0,null,null,null,0,0,1)

(select sum(a.productQuantity) from [order] as a where a.productId in (select a.productId from product as a ))
select * from [order] where sold=1
delete [order]